html, body {
    min-height: 100%;
}
body{
    background-color: #FFBFB0;
    min-height: 100vh;
}

header{
    background-color: #a44a4a;
    padding: 25px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.caja h1{
    display: inline-block;
    color:#4C0000;
    font-size: 2.5em;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 0 0 45px;
}

.logoa{
    position: inherit;
    float: inline-start;
    padding: 0 20px 0 20px;
    height: 50px;
}


main{
    width: 940px;
    height: 100vh;
    margin: 0 auto;
}
.right{
    float: right; 
    margin: 25px 0 0 0;
    width: 400px;
    height: 560px;
    background-color: #111111;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 5px #4C0000;
}

.left{
    float: left; 
    padding: 25px 0 0 0;
    width: 400px;
    height: 560px;
}

.right-doll{
    position: inherit;
    padding: 25px 0 0 0;
    width: 400px;
    height: 560px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 5px #4C0000;
}

/* Rectangle text*/

.right-text{
    display: inline-block;
    padding: 25px 0 0 0;
    width: 400px;
    height: 560px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 5px #4C0000;
}

.encryptText{
    position: inherit;
    padding: 0 30px 50px;
    width: 336px;
    height: 400px;
    color:#4C0000;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    text-align: left;
    border: none;
    resize: none;
}

.doll{
    position: inherit;
    width: 336px;
    height: 304px;
    margin: 32px;
}

.dollLegend{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: inherit;
    width: 336px;
    height: 122px;
    margin: 0 auto;
}

.dollTitle{
    color: #4C0000;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.dollText{
    color:#4C0000;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
}


.insert-text{
    display: inline-block;
    position: inherit;
    padding:25px 0 0 0;
    width: 400px;
    height: 400px;
    resize: none;
    color:#4C0000;
    border: none;
    background: none;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    border: 1px solid #330000;
}

.insert-text::placeholder{
    color:#975454
}

.vector{
    position: inherit;
    padding: 15px 0 0;
}

.advertisement{
    display: inline-block;
    position: inherit;
    padding: 15px 0 15px 10px;
    color: #400000;
    font-family: 'Ubuntu', sans-serif;
}
/* Buttons */
.encryptBtn{
    position:inherit;
    float: left;
    width: 180px;
    height: 67px;
    left: 200px;
    top: 650px;
    background: #8C0000;
    border-radius: 40px;
    border: 1px solid #CC0000;
    padding: 24px;
    gap: 8px;
    cursor: pointer;
    /* letter */
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    text-align: center;
}

.decryptBtn{
    position:inherit;
    float:right;
    width: 180px;
    height: 67px;
    background: #FFFFFF;
    border: 1px solid #CC0000;
    border-radius: 40px;
    cursor: pointer;
    /* letter */
    color:#8C0000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    text-align: center;
}

.copyBtn{
    /*position*/
    position:inherit;
    box-sizing: border-box;
    margin: 0 30px;
    /* size */
    width: 336px;
    height: 67px;
    background: #FFFFFF;
    border: 1px solid #CC0000;
    border-radius: 40px;
    cursor: pointer;
    /* letter */
    color:#8C0000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    text-align: center;
}

footer {
    background-color: #330000;
    padding: 40px;
    text-align: center;
}

.copyright{
    color: #555;
    font-family: 'Ubuntu', sans-serif;
    margin: 20px;
}

/* CELULARES */
@media screen and (max-width: 480px){
    main{
        min-height:1220px;
        padding-bottom: 20px;
    }
    .caja, main{
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .caja h1{
        display: inline;
        margin: 0;
    }
    .left, .right, .insert-text, .right-doll{
        float: none;
        width: 100%;
        margin: 0 auto;
    }
    .doll{
        margin: 30px auto;
    }
}
